/* Configuration  of the font family, sizes and colors in the page */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

$font-stack: 'Roboto', sans-serif;
$header-section-title-size: 2.5rem;
$text-size: 0.9rem;
$menu-left-text: 0.8rem;
$powershell-text: 0.9rem;
$code-text: 1.2rem;
$about-title-text: 0.8rem;
$dot-size: 0.7rem;
$downwload-title-900px: 2rem;
$downwload-title-420px: 1.7rem;
$code-text-900px: 0.7rem;
$code-text-750px: 0.4rem;
$about-text-900px: 0.9rem;
$about-text-620px: 0.8rem;
$download-text-size-620px: 0.7rem;
$download-text-size-450px: 0.6rem;

$primary-color: #0078D7;
$black-color: #000000;
$white-color: #FFFFFF;
$btn-hover-color: #005EA9;
$color-red: #D75A5A;
$color-yellow: #D7CA5A;
$color-green: #5CD75A;
$selection-color: #D74F00;
$code-border-color: #2C2A2A;
$donwload-code-color-iex: #FF0B0B;
$donwload-code-color-https: #FFA700;
$about-border-color: #DEDEDE;
$about-title-color: #9C9CB0;
$dot-color-inactive: #BBBBBB;
